# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName www.mohnani-group.com
AuthUserFile /services/webpages/m/o/mohnani-group.com/public/_vti_pvt/service.pwd
AuthGroupFile /services/webpages/m/o/mohnani-group.com/public/_vti_pvt/service.grp
