vti_encoding:SR|utf8-nl
eln-images/sample1.gif:newsite/sample.htm
eln-images/netscape.gif:newsite/sample.htm
eln-images/logo.gif:index.htm
eln-images/bottom_white.gif:index.htm
eln-images/rcorner.gif:index.htm
mailto\:mohnani@japan.email.ne.jp:contact.html
eln-images/sample4.gif:newsite/sample.htm
http\://www.cnn.com/:newsite/sample.htm
eln-images/space.gif:index.htm
http\://www.earthlink.net:newsite/sample.htm index.htm
newsite/index.html:newsite/sample.htm
eln-images/tool_tile.gif:index.htm
eln-images/sample3.gif:newsite/sample.htm
http\://www.weather.com:newsite/sample.htm
http\://www.netscape.com:newsite/sample.htm
http\://www.webmonkey.com/:newsite/sample.htm
http\://www.microsoft.com:newsite/sample.htm
http\://www.earthlink.net/business/support/:newsite/index.htm
http\://www.earthlink.net/internet/workshop:newsite/images.htm
mailto\:lmohnani@ix.netcom.com:contact.html
eln-images/lcorner.gif:index.htm
eln-images/sample2.gif:newsite/sample.htm
eln-images/msie.jpg:newsite/sample.htm
logs/urchin:logs/index.html
mailto\:webmaster@earthlink.net:newsite/images.htm
eln-images/background.gif:newsite/sample.htm
