# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.mohnani-group.com
AuthUserFile /services/webpages/m/o/mohnani-group.com/public/_vti_pvt/service.pwd
AuthGroupFile /services/webpages/m/o/mohnani-group.com/public/_vti_pvt/service.grp
